body {
  margin: 0;
  font-family: 'Kosugi Maru', sans-serif;
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/pawprints.png');
  cursor: url('https://www.rw-designer.com/cursor-extern.php?id=12514'), auto;
}
